
body {

}

.display-none{
	display: none;
}

#canvas-container{
	position: relative;
	canvas{
		position: absolute;
		top: 0;
		left: 0;
	}
}

#message-container{
	min-height: 2em;
}

ul.menu > li {
	text-align: center;
	list-style-type: none;
	padding: .5em;
	&.selected {
		background-color: pink;
	}
}



#current-buildings td{
	border: 1px solid black;
}