
body {

}

.display-none{
	display: none;
}

#canvas-container{
	position: relative;
	canvas{
		position: absolute;
		top: 0;
		left: 0;
	}
}

ul.menu > li {
	text-align: center;
	list-style-type: none;
	padding: .5em;
	&.selected {
		background-color: pink;
	}
}