
extends layouts/page
		
block content
	.row
		.col-xs-12
			include components/message
	.row
		.col-xs-3
			include components/infoPanel
		.col-xs-6
			include components/map
		.col-xs-3
			include components/controlPanel
	.row
		.col-xs-12
			include components/timePanel
	.row
		.col-xs-12
			include components/debugPanel		

	script.
		init();