
extends layouts/page
		
block content

	div#preGameScreen
		div Num players:  
			span#playerCount 0

	div.hidden#gameScreen
		.row
			.col-xs-12
				include components/message
		.row
			.col-xs-2
				include components/infoPanel
			.col-xs-5
				include components/map
			.col-xs-5
				include components/controlPanel
		.row
			.col-xs-12
				include components/timePanel
		.row
			.col-xs-12
				include components/debugPanel		

	script.
		init();