
extends layouts/page
		
block scripts
	script.
		$(() =>{
			$('#joinButton').click(() => {
				var url = $('#gameUrl').val();
				window.location = url;
			});
		});

block content
	h2 Join Game
	label(for="gameUrl")
	input#gameUrl
	button#joinButton(type="button") Join