
extends layouts/page
		
block scripts
	script.
		$(() =>{
			$('#joinButton').click(() => {
				var id = $('#gameId').val();
				window.location = 'https://' + id + '.ngrok.io/';
			});
		});

block content
	h2 Join Game
	label(for="gameId")
	input#gameId
	button#joinButton(type="button") Join