
extends layouts/page
		
block scripts
	script.
		function hostGame(item){
			window.location = '/hostGame';
		}

block content
	h1 ASCII Wars
	ul.menu
		li(data-action="hostGame") Host Game
		li(data-action="joinGame") Join Game