
extends layouts/page
		
block scripts
	script.
		function hostGame(){
			window.location = '/hostGame';
		}

		function joinGame(){
			window.location = '/joinGame';
		}

block content
	h1 ASCII Wars
	ul.menu
		li(data-action="hostGame") Host Game
		li(data-action="joinGame") Join Game