.display-none {
  display: none; }

#canvas-container {
  position: relative; }
  #canvas-container canvas {
    position: absolute;
    top: 0;
    left: 0; }

#message-container {
  min-height: 2em; }

ul.menu > li {
  text-align: center;
  list-style-type: none;
  padding: .5em; }
  ul.menu > li.selected {
    background-color: pink; }
