#control-container
	h2 Control
	.tabs
		ul
			li
				a(href="#buildings-tab") Buildings
			li 
				a(href="#command-tab") Command
		#buildings-tab
			h2 Buildings tab
			.tabs
				ul
					li
						a(href="#construct-tab") Construct
					li
						a(href="#current-buildings-tab") Current
				#construct-tab
					h3 Make Buildings
					.buttons
						.producers
						.logistics
				#current-buildings-tab
					h3 Current Buildings
					table#current-buildings
						
		#command-tab
			h2 Command tab
			.div
				h3 Selected Squad
				select#squad-select
				div
					label(for="#behavior") Behavior
					div#behavior
						label(for="#behavior-attacking") Attacking
						input#behavior-attacking(type="radio" value="attacking" name="behavior" checked='checked')
						label(for="#behavior-moving") Moving
						input#behavior-moving(type="radio" value="moving" name="behavior")
						label(for="#behavior-digging") Digging
						input#behavior-digging(type="radio" value="digging" name="behavior")
						label(for="#behavior-harvesting") Harvesting
						input#behavior-harvesting(type="radio" value="harvesting" name="behavior")
						label(for="#behavior-fortifying") Fortifying
						input#behavior-fortifying(type="radio" value="fortifying" name="behavior")
					label(for="#digging-direction-select") Direction
					select#digging-direction-select
						option(value=0) N
						option(value=1) NE
						option(value=2) E
						option(value=3) SE
						option(value=4) S
						option(value=5) SW
						option(value=6) W
						option(value=7) NW
					h4 Alignment
					label(for="alignment-none") None 
					input.alignment-selection#alignment-none(type="radio", name="alignment", value="none", checked="checked")
					br
					label(for="alignment-NS") N-S
					input.alignment-selection#alignment-none(type="radio", name="alignment", value="N-S")
					br
					label(for="alignment-EW") E-W
					input.alignment-selection#alignment-none(type="radio", name="alignment", value="E-W")
					select#resource-picked-up
						option(value='wood') Wood
						option(value='metal') Metal
					button#set-resource-pickup(value="Set Resource Pickup") Set Resource Pickup
					button#set-resource-dropoff(value="Set Resource Dropoff") Set Resource Dropoff







