#control-container
	h2 Control
	.tabs
		ul
			li
				a(href="#buildings-tab") Buildings
			li 
				a(href="#command-tab") Command
		#buildings-tab
			h2 Buildings tab
			.tabs
				ul
					li
						a(href="#construct-tab") Construct
					li
						a(href="#current-buildings-tab") Current
				#construct-tab
					h3 Make Buildings
					.buttons
						.producers
						.logistics
				#current-buildings-tab
					h3 Current Buildings
		#command-tab
			h2 Command tab
			.div
				h3 Selected Squad
				select#squad-select
				div
					label(for="#digging-checkbox") Dig
					input#digging-checkbox(type="checkbox")
					label(for="#digging-direction-select") Direction
					select#digging-direction-select
						option(value=0) N
						option(value=1) NE
						option(value=2) E
						option(value=3) SE
						option(value=4) S
						option(value=5) SW
						option(value=6) W
						option(value=7) NW
