#control-container
	h2 Control
	.tabs
		ul
			li
				a(href="#buildings-tab") Buildings
			li 
				a(href="#command-tab") Command
		#buildings-tab
			h2 Buildings tab
			.tabs
					ul
						li
							a(href="#construct-tab") Construct
						li
							a(href="#current-buildings-tab") Current
					#construct-tab
						h3 Make Buildings
						.buttons
					#current-buildings-tab
						h3 Current Buildings
		#command-tab
			h2 Command tab
