#debug-container
	.btn.btn-default.btn-lg#restart-btn Restart
	.btn.btn-default.btn-lg#default-state-btn Default State
	.btn.btn-default.btn-lg#raise-elevation-btn Raise Elevation
	.btn.btn-default.btn-lg#lower-elevation-btn Lower Elevation
	.btn.btn-default.btn-lg#create-wall-btn Create Wall
	.btn.btn-default.btn-lg#create-water-pump-btn Create Water Pump

script.
	$('#restart-btn').click(() => {
		app.socket.emit('restart');
	});

	$('#default-state-btn').click(() => {
		app.game.changeState('default');
	});

	$('#raise-elevation-btn').click(() => {
		app.game.changeState('raising elevation');
	});

	$('#lower-elevation-btn').click(() => {
		app.game.changeState('lowering elevation');
	});

	$('#create-wall-btn').click(() => {
		app.game.changeState('creating wall');
	});

	$('#create-water-pump-btn').click(() => {
		app.game.changeState('creating water pump');
	});