#info-container 
	#selected-tile
		div (#[span.x], #[span.y])
		div Resources
			div Wood: #[span#wood.resourceCount]
			div Food: #[span#food.resourceCount]
			div Metal: #[span#metal.resourceCount]
